.nav-logo,
.drawer-open,
.drawer-close,
.drawer-overlay {
    display: none;
}

@media (max-width: 1199.89px) {
    .nav-list .nav-item > a {
        font-size: 1.3rem;
        padding: 20px 10px;
    }

    .logo {
        width: 100px;
    }

    .product-item {
        --product-col: 3;
        --product-gutter: 20px;
    }
}

/* Tablet -> 0 */
@media (max-width: 991.89px) {
    .container {
        width: 780px;
    }

    .main-inner {
        gap: 10px;
    }

    .sidebar {
        display: none;
    }

    .search-cate {
        height: 30px;
    }

    .search-cate__input {
        padding: 0 8px;
    }

    .search-cate__btn {
        padding: 0 0;
    }

    .popular-title a {
        white-space: unset;
        padding-right: 10px;
    }

    .product-item {
        margin-top: 40px;
    }

    .footer-container .footer-column:first-child {
        max-width: 228px;
    }

    .footer-container .footer-column:last-child {
        max-width: 145px;
    }

    .footer-column .app-download {
        gap: 12px;
    }

    .footer-column .app-download img {
        width: 90px;
    }

    .footer-column .subscribe-btn {
        border-radius: 15px;
        padding: 5px 15px;
    }
}

/* Mobile -> 0 */
@media (max-width: 767.89px) {
    .container {
        width: 720px;
    }

    .header-wrap {
        min-height: 386px;
    }

    .header {
        position: relative;
        z-index: 1;
    }

    .header-content {
        margin-top: -15%;
    }

    .nav {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 60%;

        display: flex;
        align-items: center;
        flex-direction: column;

        background-color: black;
        translate: -101%;
        transition: translate 0.3s ease-in-out;
    }

    .drawer-overlay {
        display: block;
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.6);
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    }

    #drawer:checked ~ .nav {
        translate: 0;
    }

    #drawer:checked ~ .drawer-overlay {
        opacity: 1;
        visibility: visible;
    }

    .drawer-close {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        color: var(--white);
        padding: 20px 30px;
        font-size: 2.4rem;
        opacity: 0.6;
    }

    .logo-wrapper {
        display: flex;
        flex-direction: column;
    }

    .logo {
        width: 145px;
    }

    .nav-logo {
        display: block;
        padding: 40px 30px;
        margin-top: 30px;
    }

    .drawer-open {
        display: block;
        align-self: flex-start;
        color: var(--white);
        padding: 20px;
        margin-left: -20px;
        margin-bottom: -30px;
        font-size: 2.8rem;
    }

    .nav-list {
        flex-direction: column;
    }

    .nav-list .nav-item > a {
        width: 100%;
        padding: 20px 40px;
        text-align: left;
    }

    .product-item {
        --product-col: 1;
        --product-gutter: 20px;
    }

    .footer-container {
        flex-direction: column;
    }

    .footer-container .footer-column:first-child {
        width: 100%;
    }
    .footer-container .footer-column:last-child {
        width: 100%;
    }
}
